{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home Page{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
</head>
<body>

    <nav>
        {% comment %}LearnHub logo  {% endcomment %}
        <div class="logo">
            
                    <a id="logolink" href="{% url 'home' %}">LearnHub</a>

        </div>
        <div class="nav-links">

        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'studHome' %}">Students</a>
        <a href="{% url 'courseHome' %}">Courses</a>
        </div>
        <div class="log-reg">
              {% if user.is_authenticated %}
              <p> Hello, {{ user.username }}!</p>
      <a href="{% url 'logout' %}" class="btn-logout">Logout</a>
      {% else %}
      <a href="{% url 'login' %}" class="btn-login">Login</a>
    <a class="btn-register  " href="{% url 'register' %}">Register</a> 
</div>

      {% endif %}
    </nav>
{% block landing %}
    <header class="hero-section">
        <div class="overlay">
            <h1> Welcome to LearnHub</h1>
            <p>Manage your students, track their progress, and organize courses easily .</p>

            <div class="hero-buttons">
                <a href="{% url 'studHome' %}" class="btn btn-primary">View Students</a>
                <a href="{% url 'courseHome' %}" class="btn btn-secondary">View Courses</a>
            </div>
        </div>
    </header>
{% endblock landing %}


    <main class="info-section">

{% block content %}{% endblock content %}
{% block content2 %}{% endblock content2%}


        {% block about %}
        <h2>About </h2>
        <p>Manage students and courses with an easy-to-use interface .</p>

        <div class="features">
            <div class="feature-card">
                <h3> Manage Students</h3>
                <p>Add, update, and delete students easily, including their photos and study years.</p>
            </div>
            <div class="feature-card">
                <h3> Handle Courses</h3>
                <p>Create and organize courses, assign students to each course dynamically.</p>
            </div>
           
        </div>
        {% endblock %}
    </main>

</body>
</html>
