{% extends "Home.html" %}
{% block content %}
<h1>{{ title }}</h1>


<p><strong>Name:</strong> {{ student.name }}</p>
<p><strong>Enrollment Date:</strong> {{ student.enrollment_date }}</p>
<p><strong>Study Year:</strong> {{ student.study_year }}</p>
<p><strong>Courses:</strong> {{ student.get_courses }}</p>

{% if student.image %}
    <img src="{{ student.image.url }}" alt="{{ student.name }}" width="200" height="200">
{% else %}
    <p>No image uploaded</p>
{% endif %}



<a href="{% url 'studHome' %}">Back</a>
{% endblock %}
